@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
  --primary: #1A1A1A;
}

* {
  font-family: 'Raleway', sans-serif;
}

.background-primary {
  background-color: var(--primary) !important;
}

.bg-app {
  background-color: #0c0b0b !important;
}
.bg-gray{
  background-color: #333333 !important;
}
p {
  font-size: 20px !important;
}

.vh-85 {
  height: 85vh !important;
}

.vh-100 {
  height: 100vh !important;
}