@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
  --primary: #1A1A1A;
}

*{
  font-family: 'Raleway', sans-serif;
  
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.background-primary{
  background-color: var(--primary) !important;
}

p{
  font-size: 20px !important;
}

.vh-85{
  height: 85vh !important;
}