@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
  --primary: #1A1A1A;
}

*{
  font-family: 'Raleway', sans-serif;
}

.background-primary{
  background-color: var(--primary) !important;
}